    <div class="collapse navbar-collapse"
         id="bs-example-navbar-collapse-1">
        <div class="nav navbar-nav">

        </div>

        <div class="navbar-form navbar-left">

        </div>
        <div class="nav navbar-nav navbar-right">

            <ul class="pagination pagination-lg">
                <li ng-repeat="i in range(collection.length)"><a>{{$index+1}}</a></li>
            </ul>

            <ul class="pagination pagination-lg" ng-repeat="selectedItem in pages">
                <li><a ng-click="getCollection(selectedItem)">{{selectedItem}}</a></li>
            </ul>
        </div>
    </div>