<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <title>Dodaj produkt</title>
</head>
<body ng-app="addProductApp" ng-controller="addProductController">
<nav class="navbar navbar-default" role="navigation" ng-include="'templates/headPanel.html'"></nav>
<div class="container-fluid">
    <!--row-->
    <div class="row">
        <!--left-->
        <div class="col-md-2" id="leftCol">
            <div class="nav nav-stacked" id="sidebar">

            </div>
        </div>
        <!--/left-->

        <!--right-->
        <div class="col-md-9">
            <p>{{selectedItem}}</p>

            <div class="alert alert-success fade in" ng-if="added == true">
                <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>Operacja zakonczona
                powodzeniem!</strong>
                Pomyslnie dodano produkt do menu
            </div>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <form class="item active">
                        <h1><strong>Wybierz rodzaj produktu</strong></h1>
                        <div class="radio">
                            <label><input type="radio" ng-model="selectedItem.type" value="pizza">Pizza</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="selectedItem.type" value="sos">Sos</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="selectedItem.type" value="napoj">Napoj</label>
                        </div>

                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="next">Dalej</button>
                    </form>

                    <form name="pizzaInfo" class="item" ng-if="selectedItem.type == 'pizza'">
                        <div ng-include="'templates/productMenuManagement/pizzaInfo.html'"></div>

                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="prev">Wstecz
                        </button>
                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="next">Dalej
                        </button>
                    </form>
                    <form name="sauceInfo" ng-if="selectedItem.type == 'sos'" class="item">
                        <div ng-include="'templates/productMenuManagement/sauceInfo.html'"></div>

                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="prev">Wstecz
                        </button>
                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="next">Dalej
                        </button>
                    </form>
                    <form name="drinkInfo" ng-if="selectedItem.type == 'napoj'" class="item">
                        <div  ng-include="'templates/productMenuManagement/drinkInfo.html'"></div>

                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="prev">Wstecz
                        </button>
                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="next">Dalej
                        </button>
                    </form>

                    <form name="pizzaCost" class="item" ng-if="selectedItem.type == 'pizza'">
                        <div ng-include="'templates/productMenuManagement/pizzaCost.html'"></div>

                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="prev">Wstecz
                        </button>
                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="next">Dalej
                        </button>
                    </form>
                    <form name="sauceCost" ng-if="selectedItem.type == 'sos'" class="item">
                        <div ng-include="'templates/productMenuManagement/sauceCost.html'"></div>

                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="prev">Wstecz
                        </button>
                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="next">Dalej
                        </button>
                    </form>
                    <form name="drinkCost" ng-if="selectedItem.type == 'napoj'" class="item">
                        <div  ng-include="'templates/productMenuManagement/drinkCost.html'"></div>

                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="prev">Wstecz
                        </button>
                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="next">Dalej
                        </button>
                    </form>

                    <form class="item">
                        <div  ng-include="'templates/productMenuManagement/rabat.html'"></div>

                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="prev">Wstecz
                        </button>
                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="next">Dalej
                        </button>
                    </form>

                    <form class="item">
                        <div ng-include="'templates/productMenuManagement/photo.html'"></div>

                        <button href="#carousel-example-generic" class="btn btn-default" data-slide="prev">Wstecz
                        </button>
                        <button href="#carousel-example-generic" class="btn btn-primary" data-slide="next" ng-click="addProduct()">Dodaj produkt</button>
                    </form>
                </div>
            </div>
        </div>


        <!--/right-->
    </div>
    <!--/row-->
</div>
<script src="https://code.angularjs.org/1.2.13/angular.js"></script>
<script src="js/controllers/addProductApp.js"></script>
<script src="js/models/product.js"></script>
<script src="js/toggleCheckBox.js"></script>
<script src="js/initializeCheckBoxModel.js"></script>
</body>
</html>