<h1><strong>Wprowadz informacje o napoju</strong></h1>

<div class="form-group">
    <label for="drinkNameInput">Nazwa napoju</label> <input
        type="text" class="form-control" id="drinkNameInput" placeholder="Nazwa napoju" ng-model="controller.selectedItem.name"/>
</div>

<div class="form-group">
    <label for="litreCountInput">Liczba litrow</label> <input
        type="text" class="form-control" id="litreCountInput" placeholder="Liczba litrow"  ng-model="controller.selectedItem.literCount"/>
</div>

<div class="form-group">
    <label for="drinkDescriptionInput">Opis napoju</label> <textarea
        type="text" class="form-control" id="drinkDescriptionInput" placeholder="Opis napoju"   ng-model="controller.selectedItem.description"></textarea>
</div>