<h1><strong>Wprowadz informacje o sosie</strong></h1>

<div class="form-group">
    <label for="sauceNameInput">Nazwa sosu</label> <input
        type="text" class="form-control" id="sauceNameInput" placeholder="Nazwa sosu" ng-model="selectedItem.name"/>
</div>

<div class="form-group">
    <label>Przyprawy do sosu</label>

    <div class="row-fluid checkbox">
        <div class="span3" ng-repeat="seasoning in selectedItem.seasonings">
            <label>
                <input
                        type="checkbox"
                        name="selectedSeasonings[]"
                        value="{{seasoning}}"
                        ng-checked="selectedSeasonings.indexOf(seasoning) > -1"
                        ng-click="toggle(seasoning)"/>

                {{seasoning}}

            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="sauceDescriptionInput">Opis sosu</label> <textarea
        type="text" class="form-control" id="sauceDescriptionInput" placeholder="Opis sosu"></textarea>
</div>